## Project - 3 
(Winter Semester 2022 - 2023)\
Regression Analysis

In [1]:
import pandas as pd
import os

In [2]:
# Creating a directory for plots if it doesn't exist

if not os.path.isdir('Plots'):
    os.mkdir("Plots")

In [11]:
# Read dataset
data = pd.read_csv("bodymeasurements.csv")
data

,Age,Sex,ID,Height,Chest,Belly,Thigh,Knee,Calf,Ankle,Biceps,Wrist,Weight
0,21,m,1,174.0,89.5,71.5,51.5,34.5,36.5,23.5,32.5,16.5,65.6
1,23,m,2,175.3,97.0,79.0,51.5,36.5,37.5,24.5,34.4,17.0,71.8
2,28,m,3,193.5,97.5,83.2,57.3,37.0,37.3,21.9,33.4,16.9,80.7
3,23,m,4,186.5,97.0,77.8,53.0,37.0,34.8,23.0,31.0,16.6,72.6
4,22,m,5,187.2,97.5,80.0,55.4,37.7,38.6,24.4,32.0,18.0,78.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,29,f,420,176.5,91.8,69.9,60.6,37.7,37.9,22.4,30.3,15.4,71.8
420,21,f,421,164.4,87.3,63.5,55.2,35.6,33.3,22.4,30.1,15.2,55.5
421,33,f,422,160.7,78.1,57.9,51.8,34.4,34.1,21.2,27.4,15.5,48.6
422,33,f,423,174.0,90.9,72.2,59.0,38.4,36.6,22.0,30.6,15.5,66.4
423,38,f,424,163.8,97.1,80.4,57.4,39.6,35.9,23.0,33.2,16.4,67.3

In [10]:
round(data.describe(), 2)

,Age,ID,Height,Chest,Belly,Thigh,Knee,Calf,Ankle,Biceps,Wrist,Weight
count,424.00,424.00,424.00,424.00,424.00,424.00,424.00,424.00,424.00,424.00,424.00,424.00
mean,26.90,212.50,170.88,92.22,75.28,56.82,36.01,35.88,22.03,30.83,15.97,67.82
std,5.85,122.54,9.40,9.60,9.90,4.43,2.54,2.76,1.85,4.27,1.35,12.74
min,18.00,1.00,147.20,72.60,57.90,46.30,29.00,28.40,16.40,22.40,13.00,42.00
25%,22.00,106.75,163.20,84.78,67.50,53.70,34.30,34.00,20.90,27.28,14.88,57.30
50%,25.00,212.50,170.20,90.95,74.10,56.30,35.90,35.80,21.90,30.35,15.90,66.80
75%,31.25,318.25,177.80,99.82,82.00,59.50,37.70,37.70,23.10,34.12,17.00,75.62
max,40.00,424.00,198.10,116.70,113.20,75.70,45.70,45.00,29.30,42.40,19.60,105.20

In [6]:
# Checking nans
nan_rows = data[data.isnull().any(axis=1)]
print("NAN Rows: ", len(nan_rows))

NAN Rows:  0